* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(181, 235, 174);
}

.debug {
    /* height:300px; */
    background-color: rgb(231, 192, 192);
    min-height: 60px;
    border: 1px solid black;
}

.link-up {
    display: flex;
    justify-content: space-between;
}